<p class="font-semibold text-4xl m-10">CountryApp</p>

<ul >


  <!-- <div class=" space-y-10 rounded-sm mt-2 font-sans hover:bg-blue-400  m-4">
    <li
    class="list-item text-xl text-center border border-spacing-2"
      routerLinkActive="active: bg-[#50b6ff]"
      [routerLinkActiveOptions]="{ exact: true}"
      routerLink=""

    >

    Home Page
    </li>
  </div>

  <div class=" font-sans hover:bg-blue-400 m-4 ">

    <li
     class="list-item text-xl text-center border border-spacing-2"
     routerLinkActive="active: bg-[#50b6ff]"
     routerLink="about"
     >

     About Page
    </li>
  </div>


  <div class=" font-sans hover:bg-blue-400 m-4 ">

    <li
     class="list-item text-xl text-center border border-spacing-2"
     routerLinkActive="active: bg-[#50b6ff]"
     routerLink="contact"
     >

     Contact Page
    </li>
  </div> -->


  <div class=" font-sans hover:bg-blue-400 m-4 ">

    <li
     class="list-item text-xl text-center border border-spacing-2"
     routerLinkActive="active: bg-[#50b6ff]"
     routerLink="countries/by-countrie"
     >

     By Country
    </li>
  </div>


  <div class=" font-sans hover:bg-blue-400 m-4 ">

    <li
     class="list-item text-xl text-center border border-spacing-2"
     routerLinkActive="active: bg-[#50b6ff]"
     routerLink="countries/by-capital"
     >

     By Capital
    </li>
  </div>


  <div class=" font-sans hover:bg-blue-400 m-4 ">

    <li
     class="list-item text-xl text-center border border-spacing-2"
     routerLinkActive="active: bg-[#50b6ff]"
     routerLink="countries/by-region"
     >

    By Region
    </li>
  </div>

  </ul>


